<main *ngIf="false"
  class="relative flex flex-wrap items-center justify-center border bg-warm columns-1 md:column-2 max-auto dark:bg-black border-base">
  <!-- <div role="alert" class="w-full p-4 text-sm font-medium rounded-lg bg-amber-50 text-amber-800 ring-1 ring-amber-100">Are you sure you want to delete this item? This action cannot be undone.</div> -->
  <div class="relative cards md:block max-h-96">
    <div class="relative bg-warm">
      <div class="rounded">
        <div class="absolute top-0 right-0 z-40 flex justify-end" *ngIf="!data.disableCloseBtn">
          <button title="close" type="button" [mat-dialog-close]="true"
            class="inline-flex items-center justify-center w-auto h-8 px-2 py-1 m-2 space-x-1 text-sm font-medium text-gray-800 transition border border-gray-200 rounded appearance-none cursor-pointer select-none bg-warm hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="relative flex flex-col items-start justify-between p-8 overflow-auto rounded"
          [ngClass]="data.alignment">
          <span class="mb-2 text-lg">{{ data && data.message }}</span>
          <span class="mb-4 text-xs lowercase text-slate-500 dark:text-slate-200">{{ data && data.description }}</span>
          <div class="relative z-0 flex w-full -space-x-px max-w-[400px] justify-center"
            [ngClass]="{'!w-1/2': !data.label}">
            <button [mat-dialog-close]="true" type="button" *ngIf="data.label"
              class="flex items-center justify-center flex-1 px-3 py-4 mr-2 text-sm font-medium text-white transition bg-red-500 border border-red-500 rounded appearance-none cursor-pointer select-none hover:border-red-600 hover:bg-red-600 focus:outline-none focus:ring-transparent">
              {{ data.label }}
            </button>
            <button title="accpet" [mat-dialog-close]="false" type="button"
              class="flex items-center justify-center flex-1 px-3 py-4 text-sm font-medium text-gray-800 transition border rounded appearance-none cursor-pointer select-none dark:bg-slate-50 border-base hover:border-gray-300 hover:bg-gray-100 dark:hover:bg-slate-100 focus:border-gray-300 focus:outline-none focus:ring-transparent">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="flex flex-col w-full gap-4 p-8 bg-white border rounded shadow-xl border-base dark:bg-black ring-1 ring-slate-950/5 sm:w-96" [ngClass]="data.alignment" [ngClass]="{'pt-16': !data.disableCloseBtn}">
  <div class="absolute top-0 right-0 z-40 flex justify-end" *ngIf="!data.disableCloseBtn">
    <button title="close" type="button" [mat-dialog-close]="true"
      class="inline-flex items-center justify-center w-auto h-8 px-2 py-1 m-2 space-x-1 text-sm font-medium text-gray-800 transition border border-gray-200 rounded appearance-none cursor-pointer select-none bg-warm hover:border-gray-300 hover:bg-gray-100 focus:border-gray-300 focus:outline-none focus:ring-transparent">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <div class="space-y-1" [ngClass]="data.alignment">
    <p class="text-lg font-medium">{{ data && data.message }}</p>
    <p class="text-xs text-slate-600 dark:text-slate-200">{{ data && data.description }}</p>
  </div>
  <div class="flex gap-0.5">
    <a [mat-dialog-close]="true" *ngIf="data.label" class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors bg-red-500 border border-red-500 rounded-sm cursor-pointer text-slate-50 hover:border-red-600 hover:bg-red-600 whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border-input bg-background hover:bg-accent hover:text-accent-foreground">
      {{data.label}}
    </a>
    <a [mat-dialog-close]="false" class="inline-flex items-center justify-center h-10 px-4 py-2 text-sm font-medium transition-colors rounded-sm cursor-pointer whitespace-nowrap ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
      stroke="currentColor" class="w-5 h-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    </a>
  </div>
</div>